@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --primary-color: #22c55e;
  --accent-color: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: white;
}
