@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --primary-color: #22c55e;
  --accent-color: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: white;
}
.bg-card, .bg-card\/40, .bg-card-dynamic { 
   background-color: var(--card-bg) !important; 
}


/* src/app/globals.css */
@layer utilities {
  .text-outline-black {
    -webkit-text-stroke: 2px black;
  }
  
  .text-outline-white {
    -webkit-text-stroke: 2px white;
  }
}


