@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --primary-color: #22c55e;
  --accent-color: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: white;
}
.bg-zinc-900, .bg-zinc-900\/40, .bg-card-dynamic { 
   background-color: var(--card-bg) !important; 
}